body {
    background: #292828;
    /*width: 100vw;*/
    height: 100vh;
}

@media screen and (max-width: 798px) {
    .nav-desktop {
        display: none;
    }
}





.nav-mobile {
    display: none;
}

@media screen and (max-width: 798px) {
    .nav-mobile {
    display: inline;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: 200;
    line-height: 200%;
    background-color: rgba(255, 255, 255, .7);
    color: black;
    text-align: center;
}