button {
    background-color: rgba(250, 0, 200, .7);
    color: black;
    height: 6vh;
    width: 50vw;
    border-radius: 10px;
    font-family: bebas-neue, sans-serif;
    font-size: 3vmin;
    border-color: rgba(0, 0, 0, .5);
    margin-top: 2%;
}

button a {
    text-decoration: none;
    color: black;

}

button.active {
    background-color: cyan;
}

button.active:hover{
    background-color: #BB86FC;
}

button a:hover {
    color: white;
}

button:hover {
    background-color: cyan;
}

button.press-kit {
    text-align: center;
    font-size: xx-large;
    background: #BB86FC;
    border-radius: 0px;
    margin-left: 10%;
    margin-bottom: 5%;
}

button.press-kit:hover {
    background-color: cyan;

}

button.call-to-action {
    background: cyan;
    border-radius: 25px;
    border: none;
    width: 20vw;
    margin-top: -20%;
}

button.call-to-action:hover {
    background-color: #bd00ff;
    color: white;
}
@media only screen and (min-width: 1025px) {
    button.press-kit {
        margin-left: 25%;
    }
}

.links {
    text-align: center;
    margin: 4% auto 0;
}

.urls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2% auto 0;

    height: 15%;
    width: 15%;
}
.icon {
    margin-left: 5%;
}

.urls a {
    color: #fff;
}





@media only screen and (max-width: 1024px) {
    button {
        height: 7vh;
        width: 80vw;
        border: none;

    }

    .links {
        margin: 8% auto 0;
    }

    .urls {
        height: 35%;
        width: 35%;
        margin-top: 15%;

    }

    .icon {
        margin-left: 20%;
    }
    button {
        font-size: 4.5vmin;
    }

    button.call-to-action {
        background-color: rgba(0, 255, 255, .7);
        width: 50vw;
        padding: 0;
    }


}

@media only screen and (max-width: 786px) {

    .urls {
        margin-top: 15%;
    }

    button {
        font-size: 5vmin;
    }

    button.call-to-action {
        background-color: rgba(0, 255, 255, .7);
        width: 60vw;
        padding: 0;
    }


}