
.main-logo {
    display: none;

}

.group-photo {
    width: 40vw;
    margin-left: 5%;

}

.individual-photo {
    width: 30vw;
    margin-left: 5%;
    /*margin-top: -25%;*/
}

.poster {
    text-align: center;
    padding-bottom: 20%;
}



.long-bio {
    margin-top: -10%;
}
.individual-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.individual-page-block {
    background-color: #bd00ff;
    height: 80%;
    width: 70vmin;
    margin: 5%;
}

.individual-page-block > p a {
    /*text-decoration: none;*/
    color: white;
    font-style: italic;
}

.individual-page-block > p a:hover {
    color: #00ffff;
}

.ava {
    background: url("../../static/ava-thumbnail.jpg");
}

.individual-page-block:nth-child(2)
{
    background-color: rgba(250, 250, 250, .2);
    color: white;

}
.member-info {
    margin-left: 2%;
    margin-top: 2%;
    font-size: 1.2vmin;
}
p.about-member {
    text-align: left;
    padding-left: 1%;
    background-color: rgba(78, 106, 255, .5);

}
p.member-bio {

    text-align: justify;
    padding: 2%;
    font-size: 2.6vmin;
    line-height: 120%;
}

p.empty {
    height: 100%;
}

p.about-directory {

    color: white;
    margin-top: -4%;
    padding-bottom: 5%;
    font-size: 5vmin;
    text-decoration: none;
}
p.about-directory a {
    color: #00ffff;
    text-decoration: underline;
}

p.about-directory a:hover {
    color: #bd00ff;
}
#members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10%;
}

#members > .individual {
    height: 50vmin;
    width: 50vmin;
    background-color: red;
    margin: 5%;
}

#members > .individual a {
    text-decoration: none;
}

#members > .individual:hover {
        opacity: 50%;
    transform: scale(110%);
    transition-duration: 1s;
}


/*Michelle*/
#members > .individual:first-child{
    background: url("../../static/michelle-thumbnail.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

}

/*Drew*/
#members > .individual:nth-child(2){
    background: url("../../static/drew-thumbnail.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

/*Ava*/
#members > .individual:nth-child(3){
    background: url("../../static/ava-thumbnail.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}


/*Maya*/
#members > .individual:nth-child(4){
    background: url("../../static/maya-thumbnail.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

}


/*Danielle*/
#members > .individual:last-child {
    background: url("../../static/danielle-thumbnail.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
@media only screen and (max-width: 1025px) {

    .main-logo {
        display: block;
        text-align: center;
        width: 45%;
        margin: 0 auto;
        padding: 0;

    }

    .group-photo {
        width: 90vw;


    }

    .individual-photo {
        width: 90vw;
        margin-top: 0;

    }

    .long-bio {
        margin-top: 0;
    }

    p.member-bio {
        font-size: 3.5vmin;
    }

    .poster {
        padding-bottom: 35%;
    }
}

@media only screen and (max-width: 786px) {
    .group-photo {
        width: 90vw;
        text-align: center;
    }

    .poster-image {
        width: 90vw;
    }

    p.about-directory {
        padding-bottom: 25%;
    }
}
