
.main-logo {
    display: none;

}

.group-photo {
    width: 40vw;
    margin-left: 5%;
}

.member-info {
    margin-left: 2%;
    margin-top: 2%;
    font-size: 1.2vmin;
}
p.about-member {
    text-align: left;
    padding-left: 1%;
    background-color: rgba(78, 106, 255, .5);

}
.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 4%;
}

.members > .individual {
    height: 30vmin;
    width: 30vmin;
    background-color: red;
    margin: 5%;
}

.members > .individual:hover {
        opacity: 50%;
    transform: scale(110%);
    transition-duration: 1s;
}


/*Michelle*/
.members > .individual:first-child{
    background: url("../../static/michelle-thumbnail.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

/*Drew*/
.members > .individual:nth-child(2){
    background: url("../../static/drew-thumbnail.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

/*Ava*/
.members > .individual:nth-child(3){
    background: url("../../static/ava-thumbnail.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}


/*Maya*/
.members > .individual:nth-child(4){
    background: url("../../static/maya-thumbnail.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}


/*Danielle*/
.members > .individual:last-child {
    background: url("../../static/danielle-thumbnail.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
@media only screen and (max-width: 1025px) {

    .main-logo {
        display: block;
        text-align: center;
        width: 45%;
        margin: 0 auto;
        padding: 0;

    }

    .group-photo {
        width: 90vw;
    }
}

@media only screen and (max-width: 786px) {
    .group-photo {
        width: 90vw;
        text-align: center;

    }
}
