
.main-logo {
    display: none;

}

.group-photo {
    width: 40vw;
    margin-left: 5%;
}

@media only screen and (max-width: 1025px) {

    .main-logo {
        display: block;
        text-align: center;
        width: 45%;
        margin: 0 auto;
        padding: 0;

    }

    .group-photo {
        width: 90vw;
    }
}

@media only screen and (max-width: 786px) {
    .group-photo {
        width: 90vw;
        text-align: center;

    }
}
