html {
    margin: 0;
    padding: 0;
}
body {
    font-family: bebas-neue,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0;
}

ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 0 2%;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a.special {
    color: #bd00ff;
}

nav a.special:hover {
    color: aqua;
}

nav a:hover {
    color: #bd00ff;
}

nav {
    background: white;
    padding: .1% 0;

}

header {
    text-align: center;
}

h1 {
    font-size: 5vw;

}

h2 {
    font-weight: 200;
    font-size: 2vw;
}

h3 {
    font-size: 3.5vw;
    text-shadow: black 2px 1px 8px ;
}

.desktop-header {
    display: block;
    width: 100vw;

    z-index: 4;
}

.sub-header {
    margin-top: -2%;
}

div.tagline {
    margin-top: 10%;
}

@media only screen and (max-width: 786px) {
    .desktop-header{
    display: none;
    }

    h1 {

    }

    h2 {
        font-size: 5vw;
        margin-top: -3%;
    }

    h3 {
        margin-top: 50%;
        font-size: 9vw;

    }

}

h4 {
    margin: 0;
}